<div class="container" ng-controller="SettingsCtrl as settingsCtrl">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form-horizontal" name="form" role="form" ng-submit="settingsCtrl.changePassword(form)" novalidate>

        <div class="form-group" show-errors>
          <label for="oldPassword" class="col-md-2 control-label">Current Password</label>

          <div class="col-md-4">
            <input id="oldPassword"
                   type="password"
                   name="oldPassword"
                   class="form-control"
                   ng-model="settingsCtrl.user.oldPassword"
                   required
                   autofocus>
            <error-messages field="form.oldPassword">
              <p ng-message="forbidden">This password is not correct.</p>
            </error-messages>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="newPassword" class="col-md-2 control-label">New Password</label>

          <div class="col-md-4">
            <input id="newPassword"
                   type="password"
                   name="newPassword"
                   class="form-control"
                   ng-model="settingsCtrl.user.newPassword"
                   ng-minlength="3"
                   required>
            <error-messages field="form.newPassword"></error-messages>
          </div>
        </div>
        <p class="help-block" ng-show="settingsCtrl.done">Password successfully changed.</p>
        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
