<div class="container" ng-controller="LoginCtrl as loginCtrl">
  <div class="row">
    <div class="col-md-12">
      <h1>Login</h1>
    </div>
    <br/>
    <form class="form-horizontal" name="loginForm" role="form" ng-submit="loginCtrl.login(loginForm)" novalidate>

      <div class="form-group" show-errors>
        <label for="email" class="col-md-1 control-label">Email</label>

        <div class="col-md-4">
          <input class="form-control"
                 id="email"
                 name="email"
                 type="email"
                 placeholder="Email"
                 ng-model="loginCtrl.user.email"
                 required
                 autofocus>
          <error-messages field="loginForm.email">
            <p ng-message="not_registered">This email is not registered.</p>
          </error-messages>
        </div>
      </div>

      <div class="form-group" show-errors>
        <label for="password" class="col-md-1 control-label">Password</label>

        <div class="col-md-4">
          <input class="form-control"
                 id="password"
                 name="password"
                 type="password"
                 placeholder="Password"
                 ng-model="loginCtrl.user.password"
                 required>
          <error-messages field="loginForm.password">
            <p ng-message="wrong">This password is not correct.</p>
          </error-messages>
        </div>
      </div>

      <div>
        <button class="btn btn-inverse btn-lg btn-login" type="submit">
          Login
        </button>
        <a class="btn btn-default btn-lg btn-register" href="/signup">
          Register
        </a>
      </div>

      <hr>
      <div>
        <a class="btn btn-facebook" href="/auth/facebook" target="_self">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-google-plus" href="/auth/google" target="_self">
          <i class="fa fa-google-plus"></i>
        </a>
        <a class="btn btn-twitter" href="/auth/twitter" target="_self">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </form>
  </div>
  <hr>
</div>
