<div class="col-md-12" ng-controller="BookcaseListCtrl as bookcaseListCtrl">
  <ol class="breadcrumb">
    <li><a ng-href="/">Home</a></li>
    <li>Bookcases</li>
  </ol>

  <button type="button" class="btn btn-default" ng-click="bookcaseListCtrl.add()">Add</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Info</th>
      <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bookcase in bookcaseListCtrl.bookcases">
      <td>{{$index + 1}}</td>
      <td><a ng-href="/bookcase/{{bookcase._id}}/books">{{bookcase.name}}</a></td>
      <td>{{bookcase.info}}</td>
      <td>{{bookcase.location}}</td>
    </tr>
    </tbody>
  </table>
</div>
