<div class="container" ng-controller="SignupCtrl as signupCtrl">
  <div class="row">
    <div class="col-md-12">
      <h1>Sign up</h1>
      <br/>
    </div>
    <form class="form-horizontal" role="form" name="form" ng-submit="signupCtrl.register(form)" novalidate>
      <div class="form-group" show-errors>
        <label for="name" class="control-label col-md-1">Name</label>

        <div class="col-md-4">
          <input id="name"
                 name="name"
                 type="text"
                 class="form-control"
                 ng-model="signupCtrl.user.name"
                 required
                 autofocus>
          <error-messages field="form.name"></error-messages>
        </div>
      </div>

      <div class="form-group" show-errors>
        <label for="email" class="control-label col-md-1">Email</label>

        <div class="col-md-4">
          <input id="email"
                 name="email"
                 type="email"
                 class="form-control"
                 ng-model="signupCtrl.user.email"
                 required>
          <error-messages field="form.email">
            <p ng-message="unique" valid-on-change>The specified email address is already in use.</p>
          </error-messages>
        </div>
      </div>

      <div class="form-group" show-errors>
        <label for="password" class="control-label col-md-1">Password</label>

        <div class="col-md-4">
          <input id="password"
                 name="password"
                 type="password"
                 class="form-control"
                 ng-model="signupCtrl.user.password"
                 required>
          <error-messages field="form.password"></error-messages>
        </div>
      </div>

      <div>
        <button class="btn btn-inverse btn-lg btn-login" type="submit">
          Sign up
        </button>
        <a class="btn btn-default btn-lg btn-register" href="/login">
          Login
        </a>
      </div>
    </form>
  </div>
  <hr>
</div>
