<div class="col-md-12" ng-controller="BookListCtrl as bookListCtrl">
  <ol class="breadcrumb">
    <li><a ng-href="/">Home</a></li>
    <li><a ng-href="/bookcase">Bookcases</a></li>
    <li>Books</li>
  </ol>

  <button type="button" class="btn btn-default" ng-click="bookListCtrl.add()">Add</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Author</th>
      <th>Shelf</th>
      <th>Line</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="book in bookListCtrl.books">
      <td>{{$index + 1}}</td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.shelf}}</td>
      <td>{{book.line}}</td>
      <td>
        <span class="pull-right">
          <a ng-click="bookListCtrl.edit(book._id)"
             class="edit"
             title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
          <a ng-click="bookListCtrl.remove(book.name, book._id)"
             class="trash"
             title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
        </span>
      </td>
    </tr>
    <tr ng-hide="bookListCtrl.books.length">
      <td colspan="5">No books yet</td>
    </tr>
    </tbody>
  </table>
</div>
